Repository ScavStation/ScavStation, pull requests merged in 2020-01, with the labels that each got.

#92 Map changes
  code/modules/mob/living/simple_animal/friendly/cat.dm
  maps/tradeship/tradeship-1.dmm
  maps/tradeship/tradeship-2.dmm
  maps/tradeship/tradeship-3.dmm
  maps/tradeship/tradeship_areas.dm
  maps/tradeship/tradeship_jobs.dm
Labels: map

#82 Enclave sublevel.
  maps/tradeship/tradeship-0.dmm
  maps/tradeship/tradeship-1.dmm
  maps/tradeship/tradeship-2.dmm
  maps/tradeship/tradeship-3.dmm
  maps/tradeship/tradeship.dm
  maps/tradeship/tradeship_areas.dm
  maps/tradeship/tradeship_define.dm
  maps/tradeship/tradeship_unit_testing.dm
  nano/images/tradeship/tradeship-1.png
  nano/images/tradeship/tradeship-2.png
  nano/images/tradeship/tradeship-3.png
  nano/images/tradeship/tradeship-4.png
Labels: do not merge, map

#76 Travis: Move away from using system python by using PyEnv supplied by travis
  .travis.yml
  test/run-test.sh
Labels: do not merge

#133 Fixes mollusc-opening text
  code/modules/reagents/reagent_containers/food/fish.dm
Labels: Typo

#131 Furnished enclave deck
  maps/tradeship/tradeship-0.dmm
  maps/tradeship/tradeship-1.dmm
Labels: map

#140 Fixes flooring decals appearance between decks.
  code/game/turfs/flooring/flooring_decals.dm
Labels: bug :bug:

#199 Increases Matriarch max skill for anatomy
  maps/tradeship/tradeship_jobs.dm
Labels: Jobs / Access

#200 Fixes wooden doors not having closing animation
  icons/obj/doors/material_doors.dmi
Labels: Icons

#192 Implementing baxxid.
  code/_onclick/hud/_defines.dm
  code/modules/species/species_attack.dm
  code/modules/species/species_hud.dm
  code/modules/species/tradehouse/baxxid.dm
  code/modules/species/tradehouse/yinglet.dm
  icons/mob/human_races/species/baxxid/preview.dmi
  maps/tradeship/tradeship_jobs.dm
Labels: content, do not merge

#219 Map and steal objective changes
  code/game/objects/items/documents.dm
  maps/tradeship/tradeship-0.dmm
  maps/tradeship/tradeship-1.dmm
  maps/tradeship/tradeship-2.dmm
  maps/tradeship/tradeship-3.dmm
  maps/tradeship/tradeship_define.dm
Labels: map

#228 Various species fixes.
  code/game/objects/items/trash.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/organs/internal/stomach.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/species/outsider/shadow.dm
  code/modules/species/outsider/starlight.dm
  code/modules/species/species.dm
  code/modules/species/station/golem.dm
  code/modules/species/station/monkey.dm
  code/modules/species/station/station.dm
  code/modules/species/tradehouse/baxxid.dm
  code/modules/species/tradehouse/yinglet.dm
  code/modules/species/tradehouse/yinglet_organs.dm
Labels: do not merge

#221 Adds robot and baxxid speechbubbles and organizes talk.dmi
  icons/mob/talk.dmi
Labels: Icons, content

#233 Replaces Tradeship """elevator""" with an actual elevator.
  baystation12.dme
  code/modules/turbolift/_turbolift.dm
  code/modules/turbolift/turbolift.dm
  code/modules/turbolift/turbolift_console.dm
  code/modules/turbolift/turbolift_map.dm
  icons/obj/turbolift.dmi
  maps/tradeship/tradeship-0.dmm
  maps/tradeship/tradeship-1.dmm
  maps/tradeship/tradeship-2.dmm
  maps/tradeship/tradeship_areas.dm
  maps/tradeship/tradeship_shuttles.dm
  maps/tradeship/tradeship_unit_testing.dm
Labels: High Priority

#243 Map changes, mostly
  code/modules/turbolift/turbolift_console.dm
  maps/tradeship/tradeship-1.dmm
  maps/tradeship/tradeship-2.dmm
  maps/tradeship/tradeship-3.dmm
  maps/tradeship/tradeship_areas.dm
  maps/tradeship/tradeship_shuttles.dm
Labels: map

#264 Tradeship map changes, mostly
  maps/tradeship/tradeship-0.dmm
  maps/tradeship/tradeship-1.dmm
  maps/tradeship/tradeship-2.dmm
  maps/tradeship/tradeship-3.dmm
  maps/tradeship/tradeship_areas.dm
  maps/tradeship/tradeship_jobs.dm
Labels: map
